a {
  color: #dadada;
}
p {
  margin-top: 10px;
}

.clock{
  r: 80;
  fill: rgba(189, 242, 252, 0.38);
  stroke: rgba(0, 0, 0, 0.78);
  stroke-width: 2;
}
.block-clock{
  display: flex;
}
.location{
  padding-left: 30%;
}